[2013-12-03 02:57] mrterry opened #3 "add scipy 2014 dates"
and put them in conference.json

[2013-12-03 03:44] mrterry opened #4 "add scipy 2014 logo"

[2013-12-11 00:56] codersquid opened #6 "mail is not being sent out on staging symposion site"
Mail is not getting sent out to new users. We likely need to change settings.

[2013-12-11 01:14] brettrmurphy commented on #6
The list in iContact is getting additional contacts. Is there a welcome message that isn't getting sent to them?

[2013-12-11 01:27] codersquid commented on #6
Hi @brettrmurphy I'm currently troubleshooting this on the site we've set up on for staging. I can create users, and when I go through the password recovery process, I don't get email. I'm betting that we have not configured django-user-accounts or perhaps the email backend properly, and I am troubleshooting that tonight.

Do you have settings files for what you've been running that you are able t

[2013-12-11 01:58] brettrmurphy commented on #6
I don't have those. Sorry. Jim would be the guy to check with.

Brett

On Tuesday, December 10, 2013, Sheila Miguez wrote:

##

Brett Murphy
Enthought, Inc.
bmurphy@enthought.com
512-536-1057

[2013-12-11 02:02] polarbeardesign commented on #6
I think Brett is referring to a email service, iContact, that SciPy is using to send updates to subscribers (for SciPy2014 info).

That is separate from the email service Django/symposium is using for users creating SciPy2014 accounts on the website.

Does that make sense?

Jim

Sent from a mobile device

[2013-12-11 02:05] codersquid commented on #6
Things make sense now. I was confused, but trying to roll with it.

[2013-12-11 03:40] codersquid commented on #6
It turns out this was from a combination of things. We didn't have all of the django mail settings, and we also didn't have a cron job set up to call the [django-mailer](https://pypi.python.org/pypi/django-mailer/0.1.0) commands.

[2013-12-11 04:15] codersquid commented on #6
I need reviewers to help. Currently on staging I added a crontab for the scipy user which calls a script I created as a wrapper around the django command. The script handles activating the virtualenv.

[code]

[code]

[2013-12-19 15:45] mrterry commented on #6
i'm looking at this now.  I just got an email as an additional speaker.

the links in the email are wrong, but babysteps.

[2013-12-30 00:04] mrterry commented on #6
The venv in the script should be updated with each deploy.  Yes?

[2013-12-30 00:07] codersquid commented on #6
Create a new venv per deploy, I think.
On Dec 29, 2013 6:04 PM, "Matt Terry" notifications@github.com wrote:

[2013-12-30 00:45] mrterry commented on #6
right.  but the email script should point to the same venv as the website.  it should not perpetually point to 20131208.

[2013-12-30 03:41] mrterry opened #9 "symposion link is broken"
gets a github 404

[2013-12-30 15:11] codersquid commented on #6
With the fabfiles you made we can have a template for this or perhaps just
call sed from the script. Without the fabfile we have to resort to editing
it manually.
On Dec 29, 2013 6:45 PM, "Matt Terry" notifications@github.com wrote:

[2013-12-30 18:23] mrterry commented on #6
done

On Mon, Dec 30, 2013 at 7:11 AM, Sheila Miguez notifications@github.comwrote:

[2014-01-05 22:36] mrterry opened #11 "uploading big pictures fails badly"
Uploading a 1.3 MB pictures sends you to a 413 Request Entity Too Large.  Should fail more gracefully.

[2014-01-05 22:38] katyhuff opened #12 "Program Committee profile option"
This site looks super cool! Thanks @codersquid @mrterry and @polarbeardesign !
I'm trying to figure out what the workflow will be for the program committee (the people who review abstracts for the conference... many of them will also be authors).

Since it seems to me that what will be needed is for them to create accounts on the website and then do something like "add a program committee profile"

[2014-01-05 22:39] mrterry opened #13 "speaking dropdown gets clipped"
it does
![screen shot 2014-01-05 at 2 38 38 pm](https://f.cloud.github.com/assets/528022/1847614/36e40df4-765a-11e3-92ee-12beb4318a5f.png)

[2014-01-05 23:10] mrterry opened #14 "fix domain symposia"
The current domain symposia options are from last years.  Update them on staging and in the fixtures.

[2014-01-05 23:11] mrterry opened #15 "fix topic track"
the topic tracks are from last year.  update them. @aterrel what are our tracks this year?

[2014-01-05 23:12] mrterry commented on #14
@aterrel what are our mini-symposia this year?

[2014-01-05 23:48] katyhuff commented on #14
@mrterry : @sjsrey and I are very close to finalizing this. I'll post here when those are concrete.

[2014-01-05 23:53] katyhuff commented on #15
The topics this year are "Scientific Computing Education" and GIS... The appropriate formal title of the GIS track isn't abundantly clear to me. I think @sjsrey would know exactly what to call it. "Geographical Information Systems"? "Geospatial Data"? "Geospatial Science"? "Geospatial Data and Science?"

[2014-01-06 02:12] #4 closed, assigned to nobody

[2014-01-06 11:09] codersquid commented on #11
I suspected an nginx setting or/and a django setting. I replicated the issue with a 2.8MB file, I added client_max_body_size and set it to 10M in our nginx conf and uploaded the file successfully (didn't have a 10M handy). What limit would you like? I just picked 10 out of the air.

[2014-01-06 12:34] codersquid opened #17 "local environment problem with the dreaded six.py during django reloads"
This happens when runserver starts doing reloads: `ImportError: No module named _winreg`. Full
[traceback](http://dpaste.com/hold/1537797/) (it doesn't happen with the other django commands I tried, such as the django-emailer commands).

I think this started happening after I upgraded my local machine to ubuntu saucy. It doesn't happen on my debian vagrant box or the debian rackspace vm (clearly!)

[2014-01-06 15:15] aterrel commented on #15
I vote for Geospatial Data

[2014-01-06 16:57] mandli commented on #15
I second "Geospatial Data in Science", I think leaving it broad like that
will encompass a lot more people rather than pegging it to GIS.  Myself I
would at least look through the talks if the topic was titled "Geospatial
Data in Science" where as GIS would probably scare me off a bit.

On Mon, Jan 6, 2014 at 9:15 AM, Andy R. Terrel notifications@github.comwrote:

[2014-01-06 21:07] sjsrey commented on #15
All good points thus far. One possible consideration is that GIS could be
taken to be "Geographic Information Science" rather than "Geographic
Information Systems".

##

Sergio (Serge) Rey
Professor, School of Geographical Sciences and Urban Planning
GeoDa Center for Geospatial Analysis and Computation
Arizona State University
http://geoplan.asu.edu/rey

Editor, International Regional Science Revi

[2014-01-06 22:41] kthyng commented on #15
I personally would just assume that is what GIS stands for.

On Mon, Jan 6, 2014 at 3:07 PM, Sergio Rey notifications@github.com wrote:

##

Kristen M. Thyng
Postdoctoral Research Associate
Department of Oceanography
Texas A&M University
http://kristenthyng.com

[2014-01-06 22:43] katyhuff commented on #15
Let's go with "Geographic Information Science" then!

[2014-01-06 22:48] kthyng commented on #15
Oops, sorry, what I meant to imply is that for people who don't do GIS, but
do do work involving geographical data and science, anything with "GIS" or
G\* I\* S\* will imply something other than just work involving geographical
data and science. My understanding is that this is meant to be a superset
of these two things (GIS-specifically, and the science-with-geography
side), in which case the mor

[2014-01-06 22:51] katyhuff commented on #15
Ah, I see. Yes, I misunderstood, thinking you meant the opposite. Geospatial Data in Science, then? :)

[2014-01-06 22:59] kthyng commented on #15
That works for me!

On Mon, Jan 6, 2014 at 4:51 PM, Katy Huff notifications@github.com wrote:

##

Kristen M. Thyng
Postdoctoral Research Associate
Department of Oceanography
Texas A&M University
http://kristenthyng.com

[2014-01-07 18:06] stefanv commented on #12
:+1:

[2014-01-09 16:35] codersquid opened #19 "document how to add reviewers without also requiring superuser privs"
making this issue so we remember to document the process once we know how to do it.

[2014-01-09 16:56] codersquid commented on #19
I also posted this as a question to the symposion mailing list.

[2014-01-10 02:55] mrterry opened #20 "link to content"
The following pages exists with useful content, but are not linked from anywhere.
- [ ] /sponsorship
- [ ] /directions
- [ ] /floorplans
- [ ] /lodging

[2014-01-10 02:55] mrterry opened #21 "hotel rates are absent"
Fill in lodging rate.

[2014-01-13 16:26] katyhuff commented on #19
Just checking -> this is so that Serge and I can point reviewers at specific abstracts?

[2014-01-13 16:27] katyhuff commented on #14
Astronomy and Astrophysics
Bioinformatics
Geophysics
Vision, Visualization, and Imaging
Digital Social Sciences
Engineering

[2014-01-13 18:22] katyhuff opened #22 "Need place for abstract submissions"
In the Speaker Profile (which looks great!), I noticed we can submit proposals for everything _except_ abstract submissions. I don't mean to bug you, as I assume adding that is in the plan, but wanted to submit this issue in case it was simply missed.

If it is in the plan, can I ask what the status is for that? Is there any information you folks ( @mrterry , @codersquid , @polarbeardesign ) need

[2014-01-14 01:12] polarbeardesign opened #24 "Contact Phone numbers on Code of Conduct"
Adding issue as a reminder...
Need to add Kelsey's phone number
Double check Andy and Anthony's phone number
One more contact?

[2014-01-14 18:41] codersquid commented on #19
@katyhuff, I am not sure, it is something @mrterry mentioned during the last tech meeting and I jotted this issue down hastily. It might be.

Anyway, here's an answer from the symposion mailing list. Is it helpful? I can try it later today or this week.

[2014-01-14 18:46] katyhuff commented on #19
I see. I guess it's probably helpful. I'm not sure what a section is or a proposal section. If those correspond to the abstract submissions to the main tracks or minisymposia, then, that definitely would be the thing.

As it is, though, there is not an apparent place to submit a talk abstract ( see issue #22 )... so my ability to assign  those abstracts among the reviewers is currently a bit moot.

[2014-01-14 18:46] katyhuff commented on #19
(also, thanks @codersquid !!! )

[2014-01-16 01:27] codersquid commented on #22
It works properly locally for me. I'm going to update staging and see if this got fixed in a recent commit.

[2014-01-16 01:31] katyhuff commented on #22
What do you mean by properly?
This is what I see :
![image](https://f.cloud.github.com/assets/393899/1926917/dea528ac-7e4d-11e3-9f16-32db4e834933.png)

[2014-01-16 01:31] katyhuff commented on #22
the above has no place for a talk abstract.

[2014-01-16 01:31] codersquid commented on #22
On my laptop, locally, I get a link for talks, but on staging, I don't -- and staging is behind a lot of commits.

[2014-01-16 01:32] katyhuff commented on #22
Ah! I see. Great!!

[2014-01-16 01:35] codersquid commented on #22
Darn, I updated staging to the latest master and it still doesn't show the link. I will continue investigating

[2014-01-16 01:46] katyhuff commented on #22
good luck! thanks!!

[2014-01-16 01:50] codersquid commented on #22
woohoo. reproduced locally by dumpdata from the staging site and loaddata to my local setup.

[2014-01-16 02:05] katyhuff commented on #22
:+1:

[2014-01-16 02:50] codersquid commented on #22
@katyhuff try now. I have talk/poster showing up. In Admin I changed the _closed_ attribute from _yes_ to _no_. _unknown_ also allows it to be listed.

I'll add this to my notes of things we should document. I've got a wiki page for now.

[2014-01-16 16:36] mrterry opened #26 "responsive layout wraps strangely"
@polarbeardesign
The boxes on the front page wrap strangely for narrow-ish screens.
![screen shot 2014-01-16 at 8 34 57 am](https://f.cloud.github.com/assets/528022/1932455/438a8a40-7ecc-11e3-90ac-3f5f5afeb6fb.png)

[2014-01-16 18:25] jjhelmus opened #27 "No method for removing speakers"
Currently there does not appear to be a method to remove a speaker from a proposal (Tutorial, Talk, etc)

[2014-01-16 19:11] katyhuff commented on #22
great!

[2014-01-16 19:12] katyhuff commented on #22
Yep, works for me. I deem this closed. Thanks @codersquid !

[2014-01-16 19:12] #22 closed, assigned to codersquid

[2014-01-16 20:31] polarbeardesign commented on #26
setting the box width to 29% - currently at 30% - seemed to fix it, but that was one of those changes I mentioned that didn't show up in the update. (static css file).

[2014-01-16 20:32] polarbeardesign commented on #20
content is linked in navigation now

[2014-01-16 20:32] #20 closed, assigned to nobody

[2014-01-16 20:33] codersquid commented on #26
That's me, I forgot to run collectstatic. I'll go run that now.

[2014-01-16 20:37] codersquid commented on #26
I just ran it, how about now?

[2014-01-16 20:38] polarbeardesign commented on #26
works in my single browser test
:-)

[2014-01-16 23:51] nrrb commented on #21
![screenshot from 2014-01-16 17 50 19](https://f.cloud.github.com/assets/486230/1936344/073bedbc-7f09-11e3-8c52-fa14f7e19676.png)

They appear to be static values here:
https://github.com/scipy-conference/SciPy-2014/blob/master/scipy2014/templates/venue/lodging.html#L18

[2014-01-17 04:11] mrterry commented on #26
works for me.  closing.

that said, it would be nice if we had a more mobile friendly layout.  you have to do a bit of zooming to read anything on a phone.

[2014-01-17 04:11] #26 closed, assigned to nobody

[2014-01-17 05:52] mrterry commented on #27
Additional speakers should remove themselves from the proposal.  This is broken at present, but I'm on it.

![screen shot 2014-01-16 at 9 50 51 pm](https://f.cloud.github.com/assets/528022/1938056/851ae77e-7f3b-11e3-820f-1121d97ed7ac.png)

[2014-01-17 06:46] mrterry opened #29 "sponsors do not automatically show up in sponsors page"

[2014-01-17 14:57] mrterry commented on #29
the issue is actually that staff added sponsors do not have pictures.  the view for the sponsors page seems to need images.

[2014-01-17 15:02] mrterry commented on #29
sponsor image upload does not seem to work

[2014-01-17 15:05] #9 closed, assigned to nobody

[2014-01-17 15:05] #14 closed, assigned to nobody

[2014-01-17 15:05] #15 closed, assigned to nobody

[2014-01-17 15:31] codersquid commented on #19
I'll work on this.

[2014-01-17 15:38] jjhelmus commented on #27
Also it would be nice if the author of the original proposal could remove additional speakers, especially in cases of a typo in the email address.  For example the additional speaker in the Tutorial I created, fake@example.com, is never going to receive their invitation so cannot remove themselves.

[2014-01-17 15:40] codersquid opened #30 "document approval process for talks"

[2014-01-17 15:51] codersquid opened #31 "are keynotes just talks or should we add a new type?"

[2014-01-17 15:53] codersquid opened #32 "do we want a lightning talk type?"
Some of the other python conferences have done a review process for lightning talks, do we want to try that?

[2014-01-17 16:00] aterrel commented on #32
No.

On Fri, Jan 17, 2014 at 10:53 AM, Sheila Miguez notifications@github.comwrote:

[2014-01-17 16:05] #32 closed, assigned to nobody

[2014-01-17 16:41] katyhuff commented on #31
Keynotes are pre-arranged talks by special invitees, so people shouldn't be allowed submit proposed keynotes. That said, the keynotes should end up in the program... so... I don't know if that answers the question you need answered. Does that help?

[2014-01-17 17:46] codersquid commented on #31
Yes, It does. I was wondering from the point of view of supporting committee workflows. It sounds like we wouldn't want to add a new type, because that would show up as an option for submissions. But then, to handle having keynotes show up on the schedule, we'd probably add them as talks and then go through the approve/publish workflow.

I think it's a use case we should test when we go through th

[2014-01-17 18:22] katyhuff commented on #31
ok. Sounds like a reasonable plan to me. Thanks!! :)

[2014-01-17 22:24] aterrel commented on #21
The room rate is $121 plus tax

[2014-01-18 23:16] codersquid commented on #19
I ran the django command that Jacob  mentioned, which added some new permissions.

[code]

For an example, I added two **Teams**, _Super reviewers_ and _Talk reviewers_, and added a couple of **Memberships** for a couple of my accounts to check that I had differential permissions based on the teams. That worked.

I should figure out how to automate permissions creation for when we set up productio

[2014-01-18 23:44] codersquid commented on #17
cannot reproduce. I have no idea what was happening when I caused this to happen.

[2014-01-18 23:44] #17 closed, assigned to codersquid

[2014-01-19 00:16] codersquid commented on #12
It's a good idea, and symposion's Teams/Memberships model might be how to handle this. The _Teams_ panel shows on the same page as _Speaking_. I've created a Program Committee team, along with a couple of others

superuser dashboard:
![teams](https://f.cloud.github.com/assets/529748/1948603/1a6f9e16-809d-11e3-9e01-bf2b69da31cb.png)

non superuser dashboard:
![unpriv_teams](https://f.cloud.github.c

[2014-01-20 08:41] mrterry commented on #29
there are three components of this.
1) our nginx config was bad (fixed)
2) file permissions for upload files are bad (vixed)
3) the template tag {% thumbnail %} does not render

[2014-01-20 09:02] mrterry commented on #27
ok.  this should be how things behave.  this won't get fixed between now and deploying.  in the meantime, admins will have to fix things manually.

[2014-01-20 14:38] mrterry commented on #24
closed in #33

[2014-01-20 14:38] #24 closed, assigned to nobody

[2014-01-20 14:39] mrterry commented on #3
done

[2014-01-20 14:39] #3 closed, assigned to nobody

[2014-01-20 14:40] mrterry commented on #21
done in #33

[2014-01-20 14:40] #21 closed, assigned to nobody

[2014-01-20 14:41] #6 closed, assigned to codersquid

[2014-01-21 00:45] polarbeardesign opened #37 "Sponsor logo display"
Logos not showing up when using

{% include "sponsorship/_vertical_by_level.html" %}

fm http://symposion.readthedocs.org/en/latest/sponsorship.html#template-tags

to display sponsors in the sites sidebar. Maybe the doc is outdated?

[2014-01-21 14:57] mrterry commented on #29
this is an installing PIL / pillow bug.

[2014-01-21 14:58] mrterry commented on #37
I added (perhaps mistakenly) content in the sidebar.  I'll look into this.

[2014-01-23 01:49] #31 closed, assigned to codersquid

[2014-01-27 18:23] aterrel opened #42 "video highlights missing"
The video is hosted at:

https://docs.google.com/file/d/0B0I7VMiDT-fTM2d0MFNFNVBIUzA/preview

[2014-01-27 19:44] katyhuff commented on #42
oh man, that video is cool! I hadn't seen it yet. Fun!

[2014-01-28 22:24] aterrel opened #44 "Sponsor email"
An email should be sent to the sponsorship chairs when someone uses the sponsor features.

[2014-01-28 22:26] aterrel commented on #12
@codersquid I believe you had this fixed in staging running a command.  Can we get that on prod and added to the fab file (somehow).

[2014-01-28 22:28] aterrel commented on #42
merged and pushed to prod

[2014-01-28 22:28] #42 closed, assigned to nobody

[2014-01-28 22:31] brettrmurphy commented on #44
I "applied" and could see the email address in the form was mine. I did not add any attachments on the second page of the application and just saved it. It says its "awaiting approval". No email was sent though it seems?

[2014-01-28 22:38] aterrel opened #45 "Announce list form not shown on front page"
The front page doesn't show the form for signing up to the mailing list.  Since the page is using https to serve and the form is pulling http request, chrome marks it as unsafe.

Should try to have a https form there.

[2014-01-28 22:39] codersquid opened #46 "add cron job to fabric"
We don't have a cronjob set up for #6

Looks like fabtool has support for cron http://fabtools.readthedocs.org/en/0.17.0/api/cron.html?highlight=cron#cron-tasks

[2014-01-28 22:41] codersquid commented on #46
meanwhile, I'm going to add an entry by hand so that users get their email

[2014-01-30 16:06] mrterry commented on #45
the form gets filled in by some 3rd party js that we run on the front page.  i would prefer we build the form ourselves and submit it to whomever we're supposed to.  do you know who at enthought controls the email list account?

[2014-01-30 16:06] codersquid commented on #12
Forgot to update this to let you know that it is working in prod now, and I've confirmed with @katyhuff

[2014-01-30 16:07] codersquid commented on #12
I will close this when I have documented it well enough for other people to follow the process.

[2014-01-30 16:09] mrterry commented on #45
ps.  i've started looking at mailgun for managing our mailing lists.  it looks nifty

[2014-01-30 16:26] codersquid opened #48 "establish some alerts for the site"
Set up monitoring alerts so that the tech team receives notices when the site is experiencing difficulty.

I have collectd set up, and there are notification plugins we can add.

I also added the rackspace monitoring package, and we can set up some monitors with ping, server load, disk space, etc. using that tool.

There are other tools that people use for monitoring and alerts, but I am new to th

[2014-01-30 16:27] codersquid opened #49 "document sponsor approval process"

[2014-01-30 16:38] codersquid commented on #45
TODOs from the meeting this morning -- we compared mailgun and mailchimp, and mailchimp is friendlier for people with all levels of experience. We decided to go with that. I will set it up.

[2014-02-02 17:09] aterrel opened #51 "Remove [Local] in prod site title"
conference.scipy.org/scipy2014 has [Local] in the title.  This should be removed.

[2014-02-02 17:10] aterrel opened #52 "Add Enthought logo in sponsor sidebar"
Should looks something like: http://conference.scipy.org/scipy2013/

[2014-02-02 17:12] aterrel opened #53 "Move current sponsors link to top of sponsors dropdown"
![screen shot 2014-02-02 at 11 11 17 am](https://f.cloud.github.com/assets/30583/2060729/295bfcbc-8c2d-11e3-96e9-9e5a97daa588.png)

Put "SciPy 2014 Sponsors" as the top link.

[2014-02-03 15:09] codersquid commented on #51
Set SITE_ID to the prod site. We need deploy to be updated to handle that as well.

[2014-02-03 16:08] mrterry commented on #51
I thought I fixed this.
On Feb 3, 2014 7:09 AM, "Sheila Miguez" notifications@github.com wrote:

[2014-02-04 22:32] polarbeardesign commented on #53
moved to top, removed [local]

[2014-02-04 22:32] #53 closed, assigned to nobody

[2014-02-04 22:35] polarbeardesign commented on #52
I think this is similar/related to #37
working on it...

[2014-02-05 04:52] mrterry commented on #51
i have SITE_ID=3 in prod_settings.py  I just re-deployed the site and [local] is gone

[2014-02-07 00:07] katyhuff opened #54 "Talk Submissions Don't Preserve Track"
Currently, submitters can select a track and/or minisymposium when submitting a talk abstract

![image](https://f.cloud.github.com/assets/393899/2105396/b57b1640-8f8b-11e3-9023-eb3b68dca300.png)

However, that track selection does not appear when I, as a reviewer, go to look at the submission.

![image](https://f.cloud.github.com/assets/393899/2105399/d5f68198-8f8b-11e3-9940-350b9130af5c.png)

[2014-02-07 00:10] katyhuff opened #55 "Editing Talk Submission Info"
In the submission form for abstracts, there isn't a lot of information about what we want. That's fine, but I'd love to either link to the call for abstracts or add a more detailed description of what we're hoping folks will submit. In order to do this, am I supposed to click the "Edit This Content" button? I'm worried I'll break something if I do that.

![image](https://f.cloud.github.com/assets/

[2014-02-07 00:15] katyhuff opened #56 "More options for reviewers"
Currently, all reviewers are asked to submit a single answer about each abstract. Namely, -1, -0, +0, and +1 are the options. That really isn't enough resolution to place an abstract.

Last year, we had much greater resolution for reviewer feedback and it really helped with things. Can we add some more resolution? Here is a link to last year's review form https://docs.google.com/forms/d/1LBIdJY8qX

[2014-02-07 02:29] aterrel commented on #55
We have conference-staging.scipy.org/scipy2014 for playing around. Feel free to try it out there and see if it does what you want.

[2014-02-08 15:13] codersquid commented on #46
If we want to call this from the _deploy_ task using _fabtool.cron_ isn't the best approach since it wouldn't be idempotent. We'd want to use _run_ and do some steps with crontab _file_ to dump and restore the table, and also add a template to our repo. I've written some code for this, but haven't finished testing.

[2014-02-08 15:15] codersquid commented on #44
Is this still an issue, or was mail sent after we added the cron job? If the root cause was the missing cron job, then when #46 is resolved we can close this.

[2014-02-09 18:06] katyhuff commented on #55
That site doesn't seem to behave in the same way (that is, I don't have the edit button.)

[2014-02-09 22:41] codersquid commented on #55
Different database in staging. Maybe we could copy from prod.

[2014-02-10 01:05] aterrel commented on #55
@codersquid Yes, please do.

[2014-02-10 01:13] katyhuff commented on #55
@codersquid Or - if it's safe to use the edit button in prod, I could do that..

[2014-02-10 01:55] codersquid commented on #55
It's probably safe. I will also copy the database regardless.

[2014-02-11 16:05] codersquid opened #57 "Add Privacy Policy page"
Last year's content can be seen here.
https://conference.scipy.org/scipy2013/privacy_policy.php

[2014-02-11 16:13] codersquid commented on #57
It's in this repo, but needs to be added to navs

[2014-02-12 22:33] polarbeardesign commented on #55
@katyhuff Yes you can edit that box in production. Or, if you feel more comfortable, send me what you would like to have in there and I can add it.

[2014-02-12 22:44] polarbeardesign commented on #51
I seem to have reverted this with my last update. I don't see that setting in prod_settings.py - is that the correct file? Can't seem to find it in commits either.

I see similar in scipy2014/settings_gondor.py and scipy2014/settings.py - Is the setting in scipy2014/settings.py?

[2014-02-12 22:48] polarbeardesign commented on #51
Hmm - now it's disappeared. Maybe a cache issue

[2014-02-12 22:48] #51 closed, assigned to nobody

[2014-02-13 16:02] ghost commented on #51
doh.  i have this in my local prod_settings.py, but have not committed it

[2014-02-13 17:52] katyhuff commented on #55
Gotcha. I'll do that tonight and close this when it's done! Thanks folks!

[2014-02-14 01:43] katyhuff commented on #55
That did the trick. Thanks folks.

[2014-02-14 01:43] #55 closed, assigned to nobody

[2014-02-14 18:10] mrterry commented on #56
I'm going to look into this, but it might require a shiney new review model.  We're running stock symposion right now and I don't know how hard it will be to swap out review models.  I'm going to look into this, though.

[2014-02-14 18:22] katyhuff commented on #56
Thanks @mrterry !

[2014-02-19 23:22] jonathanrocher opened #62 "Make a page with all the announcements for people who miss them"
It would be useful to have a page with all the announcements that went out publicly for people who don't follow lists and/or will arrive later in the game...

[2014-02-19 23:23] jonathanrocher opened #63 "Add important dates on the front page"
Dates can be found in
https://github.com/scipy-conference/scipy-conference/blob/master/mailings/conference_announcement.rst

[2014-02-19 23:24] jonathanrocher opened #64 "Add a banner reminding people that abstract submission is open until March 14th"
Last year we had a yellow banner for people not to be able to miss that piece of information...

[2014-02-20 00:08] katyhuff commented on #64
This should involve also, putting the call somewhere on the website...

On Wed, Feb 19, 2014 at 3:24 PM, Jonathan Rocher
notifications@github.comwrote:

##

http://katyhuff.github.com

[2014-02-20 14:09] codersquid opened #66 "documentation"
This tracks documentation we need for
- [ ] sponsor approval process
- [ ] approval process for talks
- [ ] process for creating reviewer permissions
- [ ] team/memberships process

[2014-02-20 14:10] codersquid commented on #49
tracking all documentation tasks in one issue, #66

[2014-02-20 14:10] #49 closed, assigned to nobody

[2014-02-20 14:10] codersquid commented on #30
documentation tracked in #66

[2014-02-20 14:10] #30 closed, assigned to nobody

[2014-02-20 14:10] codersquid commented on #19
documentation tracked in #66

[2014-02-20 14:10] #19 closed, assigned to codersquid

[2014-02-20 14:11] codersquid commented on #12
documentation tracked in #66

[2014-02-20 14:11] #12 closed, assigned to codersquid

[2014-02-20 14:16] aterrel commented on #64
done

[2014-02-20 14:16] #64 closed, assigned to nobody

[2014-02-20 14:18] aterrel commented on #63
@polarbeardesign can we get one of the cards have important dates.

Would also be good to add contact info as well:

scipy-organizers@scipy.org
"@scipy-conf" -> Twitter
+ScipyConference -> G+

[2014-02-20 14:20] aterrel opened #67 "Sponsor prospectus missing"
https://conference.scipy.org/scipy2014/sponsors/prospectus/

Get to this page through the following clickthrough

https://conference.scipy.org/scipy2014/sponsors/ -> click button on how to be a sponsor.

[2014-02-20 14:21] aterrel commented on #37
Looks like this is fixed. with #60

[2014-02-20 14:21] #37 closed, assigned to nobody

[2014-02-20 14:30] aterrel commented on #45
Lets just point the button to the mailchimp hosted form at http://eepurl.com/N50Lb

[2014-02-20 14:37] aterrel commented on #45
I went ahead and updated this.  We can make the form nicer later =P

[2014-02-20 14:41] aterrel commented on #62
@jonathanrocher Can you make a blog post? Instructions at: https://github.com/scipy-conference/conference.scipy.org

The website has info on the about page but I agree we need more details to be found.  https://conference.scipy.org/scipy2014/about/

[2014-02-20 14:45] aterrel commented on #57
@polarbeardesign can you add this to the about nav?

[2014-02-20 14:45] aterrel commented on #63
Okay I see we just need to add the email list. I'll put this in another issue.

[2014-02-20 15:35] jonathanrocher commented on #62
Will do.

[2014-02-20 16:12] aterrel opened #68 "Create mock schedule in staging"
Create some fake data and have a mock schedule for when we get the production ready version.

[2014-02-20 16:25] aterrel commented on #54
@mrterry Is this an issue with the review model?  If not please reassign.

[2014-02-20 16:26] aterrel commented on #48
@codersquid I see this labeled ready? Can you add more details?

[2014-02-20 16:27] aterrel commented on #45
We agreed today that this was "Good Enough" which Alex Martelli tells me is "Better than Perfect".

[2014-02-20 16:27] #45 closed, assigned to nobody

[2014-02-20 16:28] aterrel commented on #44
@brettrmurphy Waiting for you to verify this is still a bug.

[2014-02-20 16:28] aterrel commented on #29
This has been fixed

[2014-02-20 16:28] #29 closed, assigned to nobody

[2014-02-20 16:30] aterrel commented on #27
I'll look into this one.

[2014-02-20 16:35] aterrel opened #69 "Add better instructions on submitting proposal"
From @brettrmurphy:

"""It's really hard to tell what to do to submit a paper. At least: how about a button under  the deadline announcement in the upper right that links to the sign in page (I assume that's the first step?) Even better would be a pull-down menu next to Sponsors, named Speaking, that describes the speaking opportunities and invites them to submit. PyCon has this."""

[2014-02-20 16:39] aterrel opened #70 "Add new registerants to mailchimp announcement list"
From @brettrmurphy:

When a new person registers, we should add them to the mailchimp announcement list.

[2014-02-20 16:40] brettrmurphy commented on #44
I still have not received a notice. It still says it is "waiting approval"
in there.

-- Brett

Brett Murphy
Enthought, Inc.
bmurphy@enthought.com
512-536-1057

On Thu, Feb 20, 2014 at 10:28 AM, Andy R. Terrel
notifications@github.comwrote:

[2014-02-20 16:44] aterrel commented on #44
I'm deleting. Try to resubmit.

[2014-02-20 17:11] aterrel commented on #62
@jonathanrocher Okay the announcement post went out.  Can you make sure it appears on Planet Python and Planet SciPy.  I've emailed those lists before but they are always a bit slow getting things setup ....

The feed is at http://conference.scipy.org/feeds/all.atom.xml

[2014-02-20 17:16] jonathanrocher commented on #62
I have no idea how to do that. A pointer would be appreciated unless @scopatz wants to take care of that...

[2014-02-20 17:17] codersquid commented on #48
Hi @aterrel, I added a better description. @mrterry mentioned that we should set up some monitoring at one of our tech meetings, and I created this issue so it didn't slip our radar.

The rackspace web interrface has some dead simple monitors that you can set up, but I'd like some more advanced ones too.

[2014-02-20 19:06] katyhuff opened #71 "Account confirmation email gives wrong link"
I think this just started happening last night. I got an email about it this morning from one of our PC members who was signing up on the site.

---------- Forwarded message ----------
From: John Stachurski <...>
Date: Thu, Feb 20, 2014 at 10:47 AM
Subject: Fwd: Confirm email address for SciPy 2014 [local]
To: Katy Huff <...>
Hi Katy,

Just letting you know about a small error.  In the link below,

[2014-02-20 19:42] katyhuff commented on #71
Hi Folks, I'm getting more emails about this error by the hour. I don't have the foggiest idea how to fix it. Do any of you? @mrterry @aterrel @polarbeardesign @codersquid ?

[2014-02-20 20:06] aterrel commented on #71
Sorry for the spam. I won't have time to look at it until late tonight.

[2014-02-20 20:07] katyhuff commented on #71
Thanks @aterrel ! I'm not bothered by the spam. I just feel bad for our confused PC members who are just trying to sign up for accounts because they're all getting a confirmation email that sends them to the wrong address.

[2014-02-20 20:56] codersquid commented on #71
I'm confused about why this happens, because it does seem we have the proper SITE_ID in place for prod.

The mail template comes from pinax-bootstrap-theme,

[code]

Check in the admin, the site name is _SciPy 2014_ and so on.

[2014-02-20 21:03] katyhuff commented on #71
It's not the scipy2014 part that's a problem.
It's the domain.
The link is giving :
http://localhost/scipy2014/ ...
But it should be
http://conference.scipy.org/scipy2014/...

Is the domain part of current_site.name?

[2014-02-20 21:19] codersquid commented on #71
It was 162.242.221.143 and I just changed it to conference.scipy.org and tested out getting a new account. I got an email with the ip as the url.

SITE_ID 1 has
- domain: localhost
- name: SciPy 2014 [local]

Which is why I mentioned the name -- it's showing up with local in the reported email as well.

The prod local settings is not using SITE_ID 1. I don't know why SITE_ID 1's entries are gettin

[2014-02-20 21:20] katyhuff commented on #71
ah. hm. The ip as the url is probably better than localhost?

[2014-02-20 21:27] codersquid commented on #71
Yes, better than localhost, but driving me crazy. Why isn't it using the domain from the sites setting? Andy might discover it later.

[2014-02-21 13:50] aterrel commented on #71
Just needed a restart for gunicorn.

I also deleted the problematic sites that keep getting put up.

[2014-02-21 16:30] katyhuff commented on #69
I just wanted to bump up the importance of this.

A couple of folks (who are very capable of navigating websites) have asked me how to do this. I think Brett's suggestion is right on. Whether you're logged in or not, there should be at least some indication that we're accepting submissions. I really like Brett's pull down menu solution. And, if that's too complicated I agree that there should, at

[2014-02-21 16:38] katyhuff commented on #54
whoops erroneous close

[2014-02-21 16:41] katyhuff commented on #54
I was just trying to comment and accidentally closed the issue (this happens to me way too often).

I just wanted to comment that there is a little urgency about the first half of this issue. Namely, is the track information being saved?

if we could just determine whether or not this information is being saved in the database when a submission happens, then that would be great for now. That is, a

[2014-02-21 22:41] polarbeardesign commented on #57
completed.

[2014-02-21 22:41] #57 closed, assigned to polarbeardesign

[2014-02-21 22:42] polarbeardesign commented on #52
completed

[2014-02-21 22:42] #52 closed, assigned to polarbeardesign

[2014-02-21 22:45] polarbeardesign commented on #69
added Submit a Proposal! box to call/about page [https://conference.scipy.org/scipy2014/about/]

Considering adding "Speaking" nav item that points to same page - confusing (2 navigation items going to same page) or good idea?

[2014-02-21 23:00] brettrmurphy commented on #69
I think having two routes to the same page is ok, FWIW.

-- Brett

Brett Murphy
Enthought, Inc.
bmurphy@enthought.com
512-536-1057
_Join us for a live webinar demo of our Python for Excel solution on March
6th.  Register here today
https://www1.gotomeeting.com/register/937020305._

On Fri, Feb 21, 2014 at 4:45 PM, polarbeardesign
notifications@github.comwrote:

[2014-02-21 23:05] polarbeardesign commented on #69
I agree - adding it. If it proves confusing, it's easy enough to remove it.

[2014-02-22 13:14] polarbeardesign opened #76 "Set up sponsorship (fin aid) process"
develop pages, process to apply for sponsorship and review process

[2014-02-22 13:46] polarbeardesign commented on #63
added

[2014-02-22 13:46] #63 closed, assigned to polarbeardesign

[2014-02-24 04:48] codersquid commented on #54
I checked in the admin and the track information is being saved. I'm looking through symposion code to see what is going on with the templates.

[2014-02-24 05:39] codersquid commented on #54
I add custom template, https://github.com/scipy-conference/SciPy-2014/commit/99ddd7a7d38fb1b6bd5b14dda291143329a3a87e

Locally the text shows up on Proposal Details, but it doesn't display properly in Staging. Staging is showing a number rather than the descriptive text.

Here's the diff from the symposion template

[code]

[2014-02-24 05:54] codersquid opened #78 "Production: reviews for -0 and -1 cause server error"
While testing reviews, I found that ranks of -0 and -1 cause a server error. log excerpts:

[code]

[2014-02-24 14:55] codersquid commented on #69
Adding a button on the main page could be an enhancement we could think about.

The `dashboard.html` template in symposion has a button that directs to a `proposal_submit` url. We could consider adding a link or button to the main page that carries people to this page. I haven't checked  the experience for someone who has not created a speaker profile or is not logged in. I'm hoping it wouldn't be

[2014-02-24 14:58] codersquid commented on #54
I need to switch to testing out the schedule functionality, and I hope this can be picked up by someone while I work on that. I think it is less urgent now that we know the info is stored but still would be good to have when people start reviewing.

[2014-02-24 14:59] codersquid commented on #78
@katyhuff if this also happens in prod, I'll change the title to remove staging.

[2014-02-28 16:00] #71 closed, assigned to nobody

[2014-02-28 16:03] aterrel opened #79 "Add registration system from Scipy2013 web"

[2014-02-28 16:04] aterrel commented on #76
Andy will set up gmail account and get to jim.

[2014-02-28 16:05] aterrel commented on #69
Please add card to front page.

[2014-02-28 16:09] aterrel opened #80 "Add tab to blog"
https://conference.scipy.org/category/scipy.html

[2014-02-28 16:14] aterrel opened #81 "Add contact email to bottom of page"
Add contact email (scipy-organizers@scipy.org) to bottom template

[2014-02-28 21:30] katyhuff commented on #69
Hi all - While this is going on, could it say "Talk Abstracts and Proposals" everywhere that the site currently says "Proposals"? I don't think "Submit a Proposal" is something I would click if I wanted to submit a talk abstract.

[2014-03-03 21:11] aterrel opened #82 "Add more tutorial submission details"
https://github.com/scipy-conference/scipy-conference/blob/master/mailings/tutorials_announcement.rst

[2014-03-03 23:14] polarbeardesign commented on #69
added card/tile to homepage

[2014-03-03 23:14] #69 closed, assigned to brettrmurphy

[2014-03-04 19:42] brettrmurphy opened #84 "Media & Community Sponsor benefits"
Media and Community sponsor sign-up page needs to include web logo and print logo downloads as the other sponsor levels do. Can someone please add them?

-- Brett

[2014-03-05 13:01] polarbeardesign commented on #84
Added attributes.

[2014-03-05 13:01] #84 closed, assigned to nobody

[2014-03-05 13:20] #81 closed, assigned to polarbeardesign

[2014-03-06 18:31] aterrel opened #88 "simplify deploy"
Currently the deploy script reinstalls all software.  This is great if we are changing things but as is it just means we have lots of wasted space installing Django and other tools. Would be great to make the deploy only update this repo ...

[2014-03-06 22:46] aterrel commented on #82
done

[2014-03-06 22:46] #82 closed, assigned to aterrel

[2014-03-06 22:46] aterrel commented on #76
done

[2014-03-06 22:46] #76 closed, assigned to nobody

[2014-03-06 23:15] codersquid commented on #68
I should leave a status here. I ran in to some questions and posted to the symposion mailing list.

https://groups.google.com/forum/#!msg/pinax-symposion/Irv4kMYY8zk/5uoemo53iZsJ

excerpt

(I'm hoping there are commands that speed up the process and that people do not need to use the django admin for it).

[2014-03-06 23:18] codersquid commented on #68
![sched](https://f.cloud.github.com/assets/529748/2352148/9e3bc848-a585-11e3-8ba0-48884059895c.png)

(here is a screenshot of the fake sched)

[2014-03-06 23:28] katyhuff commented on #68
Here's the real schedule: https://docs.google.com/spreadsheet/ccc?key=0AiP1TmlNKprrdGE1aWV0dGNDMnlCSl9KSTFSX2Nib2c&usp=drive_web#gid=0

Let me know if you can't get access to it.

[2014-03-06 23:29] katyhuff commented on #68
(on second thought, maybe you were already looking at it.... if so, sorry for stating the obvious... but, if you hadn't seen it, it exists).

[2014-03-10 17:08] polarbeardesign opened #89 "Registration Refund Policy"
2013 had the following policy:

Refund Policy: 100% refund until Sunday, June 9th.  Effective Monday, June 10th we provide 50% and after Friday, June 21st there are no refunds.

Need to set dates for 2014

[2014-03-12 02:11] aterrel commented on #56
@katyhuff We looked at this and it seems we won't have enough time to get it done.  We can have a script that extract the information for each talk and populates a spreadsheet for you but that is about all I think we can promise here.  Sorry.

[2014-03-12 14:07] katyhuff commented on #56
I'm sorry I don't totally understand what you're suggesting. The need is
something like my google form, which has its own script already. Are you
suggesting to embed that in the website somehow?

That is, I don't under stand what information you mean: Your script would
extract which information for each talk? The review information or
the abstract information?

On Tue, Mar 11, 2014 at 7:11 PM, And

[2014-03-12 14:18] aterrel commented on #56
Sorry for the lack of clarity.

We aren't able to get this integrated with symposion (the backend running the conf site) in the needed time.  We could set up the form in google forms and extract the talk data from the symposion  to populate the google forms.  We could probably script the reviews to go back to symposion from google docs as well.

[2014-03-14 20:42] codersquid commented on #68
There's an incoming PR to the sympsion project with some docs about working with the schedule app. This is useful! https://github.com/pinax/symposion/pull/51

[2014-03-15 17:52] scopatz commented on #13
Yep I am seeing this too!

![clipped-accept](https://f.cloud.github.com/assets/320553/2429082/968a20b8-ac6a-11e3-9318-f4b3872d466f.png)

[2014-03-17 01:31] katyhuff commented on #56
Too bad. That works fine though. Thanks!

[2014-03-23 18:41] katyhuff commented on #54
Hi folks. Reviews start in one week! (time flies!)
So - we need this track information to be available to the reviewers asap.

@polarbeardesign, @mrterry, @codersquid, @aterrel : Anything we can do to help?

[2014-03-23 18:47] katyhuff commented on #56
Ok, so.. since reviews start in one week, we need to at least make the review interface link to a google form so that reviewers can put in more detailed reviews.

If I make a new, blank, google form, who can do link to it on the site (in place of the current +/- 1 review option).

Also, how are the abstract writers meant to gain access to the review comments about their submissions? That is, will

[2014-03-24 14:06] aterrel commented on #56
I can look into the interface. The hope would be that we can just have the comments uploaded to the symposion site which would then email the participants.

[2014-03-24 14:07] aterrel commented on #54
Well depends if you want to start learning django =P

[2014-03-24 14:17] aterrel opened #92 "Sponsor button broken"
If you click the "Learn how to become a sponsor" button on this
page: https://conference.scipy.org/scipy2014/sponsors/ then you go
here: https://conference.scipy.org/scipy2014/sponsors/prospectus/,
which currently is a "page not found".

[2014-03-24 14:32] aterrel commented on #68
@codersquid cool should we start use master for symposion to get this?

[2014-03-24 14:50] codersquid commented on #68
@aterrel I think it depends on if the PR gets in to master. We could look at using the pyohio fork if not.

[2014-03-24 15:03] aterrel commented on #68
Okay I'll wait for your advice on the matter.

[2014-03-24 16:02] katyhuff commented on #54
:) Maybe I'll get around to that in time for next year...

[2014-03-25 21:19] aterrel opened #93 "use vagrant ssh-config in fabfile"
To get fabric to actually deploy to a vagrant file, one can use vagrant ssh-config. See:

https://github.com/sympy/sympy/blob/master/release/fabfile.py#L1287

[2014-03-28 00:12] katyhuff commented on #54
Serge and I are beginning to try to assign abstracts to reviewers.
Assigning a paper to the proper reviewer requires simultaneous knowledge of three things: The desired track, the desired domain-symposium, and the ID number. Ideally, the title and author would be available as well, but they're not _absolutely_ necessary.

It would be perfect, if, for example, the Category section of the review das

[2014-03-29 23:00] codersquid commented on #54
@katyhuff I'll take a look at it.
I can make the admin look better, regardless of what I do with the template.

I'll also look in to the export_as_csv sympsosion action -- I see that it exists in the symposion code base, but haven't tried using it yet.

[2014-03-29 23:14] katyhuff opened #96 "Add deadline and diversity question to financial aid page"
This was noticed by @pfrancislyon and is super urgent. The Financial Aid page of the SciPy web site needs a deadline (April 1) and another criterion added to the list of questions in the application template.

Any chance you could add those two things to the site: https://conference.scipy.org/scipy2014/participate/financial_aid/ ? Since it needs to be added in the next day or so, I'm hereby pingin

[2014-03-29 23:17] katyhuff commented on #54
Great! Thanks so much!!
(btw, Potentially more pressing at this exact hour is #96 relating to the diversity financial aid application . )

However, it would be awesome if you could look at this program committe review dashboard thing. The export as csv button at the top of the dashboard works, but only includes the stuff visible in the table, so, for me, it has an empty column labeled "Category".

[2014-03-29 23:33] codersquid commented on #96
On it

[2014-03-30 00:00] codersquid commented on #96
I added a list point:
- Indicate yes or no to apply to be considered for women or under-represented group scholarship

and put the deadline info in the header with the abstract deadline info.

![deadline](https://cloud.githubusercontent.com/assets/529748/2560020/20c49e24-b79d-11e3-9c56-4c20de99251f.png)

Okay? I'll bug @aterrel @mrterry @polarbeardesign if they can make it look better. What do you

[2014-03-30 00:02] katyhuff commented on #96
You rock. That rocks. Thank you sheila.

[2014-03-30 00:04] codersquid commented on #96
Thanks! I'll push and then someone can refine the look more if needed.

[2014-03-30 03:12] codersquid commented on #96
Change deployed.

[2014-03-30 03:12] #96 closed, assigned to codersquid

[2014-03-30 03:14] codersquid commented on #54
@katyhuff I deployed a tiny change so that the admin view of proposals is better.

[2014-03-30 03:30] katyhuff commented on #54
Thanks a ton @codersquid !

[2014-03-30 03:31] katyhuff commented on #54
Closing.

[2014-03-31 14:27] codersquid commented on #54
Did you mean to close this? The actual view doesn't have the category listed

[2014-04-01 01:47] katyhuff opened #99 "Missing a track!"
Sorry I have so many demands, y'all!

I totally didn't notice this was missing until I got an email just now from the chair of that domain symposium, @davclark . We need a domain sympoisum option for "Computational Social Sciences and Digital Humanities". It's missing entirely in the talk submission form. Can it be added ASAP?

Just so that everyone sees this issue, I'm going to ping you ( @aterre

[2014-04-01 02:00] codersquid commented on #99
It doesn't look hard. Let me try...

[2014-04-01 02:10] codersquid commented on #99
Okay, I've deployed the change. Check that it works for you. It looks okay on my end.

[2014-04-01 02:18] katyhuff commented on #99
Perfect.
You are the bomb.
Seriously. https://www.youtube.com/watch?v=jorJh8DTMVM#t=1m18s

[2014-04-01 02:54] #99 closed, assigned to codersquid

[2014-04-01 03:09] katyhuff commented on #56
Here is the link to the actual form that we'll be using : https://docs.google.com/forms/d/1wa1th-8ALQA_7tdkOshOBK_uC1OrlM0ug7-V5FyXBuc/viewform

If sometime in the next day or two the review interface could be updated to send the reviewers to this link for each review, that would be way awesome.

Thanks!

[2014-04-01 03:38] katyhuff commented on #54
Perfect!!!

[2014-04-01 03:38] #54 closed, assigned to mrterry

[2014-04-03 04:06] katyhuff commented on #56
Ping! Hi folks. We would like the reviewers to start their reviews tomorrow.
It would be great if the review interface either included all of the questions in our google form, or just linked straight to the google form.

This is what the review interface currently looks like:
![image](https://cloud.githubusercontent.com/assets/393899/2599556/4acce226-bae5-11e3-8893-b723afa1686f.png)

[2014-04-03 13:52] codersquid commented on #56
I can quickly add a link to the form. I'll see if adding other content is something that can be done quickly or not.

[2014-04-03 14:20] codersquid commented on #56
I added a link to the form and some content so that people will know what content they should be prepared to add when they get to the form. The template styling isn't honoring html markup, but I thought perhaps you'd like to have the link and content up quickly. We can see about fixing styling later.

Please take a look and see if I should fix anything. I took the liberty of deploying it quickly.

[2014-04-03 14:22] codersquid commented on #56
Also, I suppose we could remove the fields from the template so that there is no option to leave review comments in the form, but I thought perhaps it would be helpful for communicating with the authors.

[2014-04-03 15:44] katyhuff commented on #56
In terms of review  comments on the site -  it would be great to leave
those blanks there if there is an easy way to send that info to authors
through Symposion.

I don't know what the steps are for emailing all the authors their review
comments via symposion ,  but if there's  a way,  let's do that. Do you
understand how to Emil all the authors that info when  we ultimately decide
on their paper?

[2014-04-03 15:48] katyhuff commented on #56
As far as the sentence:
Your votes and comments are not public and will only be viewable by other
reviewers

That seems to be true.

The symposion framework makes the reviews of all papers visible to all
other reviews.  There is only one exception. That is, if there is a
reviewer who is also an author, then they can't see the  reviews of their
own submission.
On Apr 3, 2014 8:44 AM, "Katy Huff" ka

[2014-04-03 15:53] codersquid commented on #56
I don't know the ins and outs of symposion, but I think it does.

For the non-public except to other reviewers, I was wondering if it is also true for the form. Otherwise I'll clarify the sentence to distinguish symposion input vs. form input.

[2014-04-03 16:14] katyhuff commented on #56
Well, with the form, no one sees the responses except for Serge and Andy
and I. Not even other reviewers.

On Thu, Apr 3, 2014 at 8:53 AM, Sheila Miguez notifications@github.comwrote:

##

http://katyhuff.github.com

[2014-04-09 19:01] katyhuff commented on #78
yep, this is happening in prod.

[2014-04-09 19:05] jlaura commented on #78
Is this an issue with utf8 support in the backend on those columns?  Can the values be remapped to some other `int` value to avoid this error?  I would guess that the provided unicode is a mapping to a negative sign (`'\xE2\x88\x921'`) which is causing the issue...maybe?

[2014-04-12 16:15] codersquid commented on #78
I just checked and the vote column is of a latin1 encoding so perhaps that is the cause.

[2014-04-12 16:20] codersquid commented on #78
(This also probably means we will break people's names)

[2014-04-12 16:24] katyhuff commented on #78
Indeed, we have been, and @aterrel suggested we'd fix it before we announced speakers (see email below from @certik .

So, you can fix two birds with this one UTF8 stone!

Goooooooooo Sheila!!!!!

On Mon, Mar 31, 2014 at 10:33 AM, Ondřej Čertík ondrej.certik@gmail.com wrote:
Hi,

I put in my name as Ondřej Čertík, but the website shows my name as:

Ond?ej ?ertík ondrej.certik@gmail.com

Looks like

[2014-04-13 11:52] codersquid commented on #78
argargarg I haven't fixed it yet because I am at pycon and did everything yesterday. Perhaps also today too! Hoping today!

[2014-04-13 13:01] kthyng commented on #78
A fix would be nice for tutorial reviews but not mandatory. We have a small
number of people involved, so it makes that less critical for us.

On Sun, Apr 13, 2014 at 6:53 AM, Sheila Miguez notifications@github.comwrote:

##

Kristen M. Thyng
Postdoctoral Research Associate
Department of Oceanography
Texas A&M University
http://kristenthyng.com

[2014-04-13 15:34] polarbeardesign commented on #78
I can take a look - but don't see the database - I guess it's using different credentials than the ones I am using...

Jim

On Apr 13, 2014, at 6:53 AM, Sheila Miguez wrote:

[2014-04-14 15:16] codersquid commented on #78
Hi all, I emailed more of a braindump, but here is a shorter recap:

Before doing anything in prod I wanted to check locally, and did a mysqldump. Well, this was silly of me since mysqldump does not dump exactly to a file with the encoding I would want. Now I would like to have a way to get this without first serializing to a text file so that I can try the alter commands with some verisimilitude

[2014-04-14 15:33] codersquid commented on #78
I went ahead and posted to the symposion mailing list to ask for more help. https://groups.google.com/forum/#!topic/pinax-symposion/OJxw2vkzzX0

And while writing up a description I realized I had not explicitly stated here that votes are varchar(2) and not int. So take that in to consideration while reviewing this bug.

[2014-04-15 16:58] asl2 commented on #78
The traceback on https://groups.google.com/forum/#!topic/pinax-symposion/OJxw2vkzzX0 ('BIGINT UNSIGNED value is out of range') looks different from the one which started this thread ('Incorrect string value:').  But I concur with jlaura: '\xE2\x88\x921' is the utf-8 encoding of '−1', which doesn't fit in 2 latin-1 characters.  '−1' is u'\u2212' which doesn't seem to be transcodable losslessly to l

[2014-04-19 04:50] katyhuff commented on #78
Hi folks. I'm getting an email about this about once a day. Just wanted to bump it up. If it can't be fixed, maybe it can be removed?

[2014-04-21 04:11] katyhuff opened #107 "Fairly urgent: See poster/talk preference in Dashboard"
So, when submitting their abstracts, the authors indicated whether they want to be considered for (only a poster), (poster or talk), or (talk only). We are not able to see this in the review dashboard. For creating the schedule, it will be absolutely essential to at least be able to download this information as a csv or something, even if it can't be seen in the dashboard.

pinging : @aterrel , @m

[2014-04-22 14:40] codersquid opened #111 "Review dashboard is blocked for users who vote -0 or -1"
http://mail.scipy.org/pipermail/scipy-organizers/2014-April/000377.html

[2014-04-22 17:37] #107 closed, assigned to aterrel

[2014-04-23 02:17] codersquid commented on #111
@kthyng could you take a look to see if you can view the dashboard?

I have a workaround, and the view ends up looking like this, for example, if someone gave a negative zero vote.
![negzero](https://cloud.githubusercontent.com/assets/529748/2773027/5bf7edcc-ca8d-11e3-89a3-62e087aa7ca8.png)

[2014-04-23 02:43] kthyng commented on #111
Yes! It works now!!! (At least on my phone...)

You're the best!

On Tuesday, April 22, 2014, Sheila Miguez notifications@github.com wrote:

##

Kristen M. Thyng
Postdoctoral Research Associate
Department of Oceanography
Texas A&M University
http://kristenthyng.com

[2014-04-26 20:02] katyhuff commented on #56
We fixed this with a google form. Next year, maybe we'll do it in symposion.

[2014-04-26 20:02] #56 closed, assigned to mrterry

[2014-04-27 20:48] codersquid commented on #56
Maybe it's something for 2015.

[2014-04-28 20:34] polarbeardesign opened #114 "Page added to scipy_registration returns 502 Bad Gateway in browser"
https://conference.scipy.org/scipy_registration/admin/registrant_add.php

[2014-05-05 17:00] codersquid commented on #11
If 10M isn't good then we can up it.

[2014-05-05 17:00] #11 closed, assigned to codersquid

[2014-05-09 14:56] codersquid commented on #68
This has been a huge pain. Here are my current notes (I've got running commentary in the wiki scratchpad) but will share them here:

I spent time merging the pyohio pull request with the schedule builder in to our symposion fork (you can't just merge that pull request, you need to pick up some other changes from the pyohio fork -- and then edit them since vanilla symposion doesn't work with django

[2014-05-09 15:09] codersquid commented on #68
Oh, and here is the stack trace I get when trying to parse my example csv. It's probably something I'll figure out quickly, but I just realized I should document the progress so that we know where the hitches were so that we know what we should document. If I'm not allowed to at least get a documentation pull request accepted to symposion I am going to HULK SMASH.

[code]

[2014-05-13 21:07] polarbeardesign commented on #114
@codersquid - was looking at http://wildlyinaccurate.com/solving-502-bad-gateway-with-nginx-php-fpm

They recommend changing the listen setting from listen = /var/run/php5-fpm.sock to match the fastcgi_pass location in your Nginx configuration e.g. listen = 127.0.0.1:9000

I check our /etc/php5/fpm/pool.d/www.conf and found:

; Note: This value is mandatory.
listen = /var/run/php5-fpm.sock
;listen

[2014-05-14 16:19] #111 closed, assigned to codersquid

[2014-05-14 16:20] codersquid opened #123 "The schedule team permissions aren't working for some users"
I set up a schedule team in symposion and assigned permissions for the schedule app to it, but I'm getting reports that some users are unable to edit the schedule.

[2014-05-16 01:31] codersquid opened #125 "have a schedule page for posters"
We want to give people a list of posters with links to the details like we do in the schedule grid.

This isn't currently automagic from symposion because we've bucketed poster proposals in with talks. We will figure something out.

[2014-05-16 01:38] codersquid opened #126 "schedule app: in search of lost time"
- [x] The afternoon of July 8 is missing a time slot.
- [x] The poster session should start at 2:30 rather than 2:15. It will overlap the break.
- [x]  Add in the breaks and lunch, so that people know when those things will be happening.
- [x] The schedule app is not allowing Katy to select one of the talks for the 10:45 am on  July 10 time slot.

[2014-05-16 19:12] codersquid commented on #126
Wrote https://gist.github.com/codersquid/3074cb52aabfcbcd5b49 to add break slots to each room time. The "Break" label can be edited via the schedule grid page.

Afternoon breaks on the 9th are broken, I double booked breaks with posters. I'll clean that up.

[2014-05-17 04:25] #126 closed, assigned to codersquid

[2014-05-17 15:45] codersquid commented on #125
@katyhuff

How much work would you like to do for this?  First, someone needs to go through all the accepted proposals to make a list of the ones that are accepted as posters. I can help automate that a bit by writing some quick code to list out the list of all the talks for you.

There are two approaches I can think of off the top of my head once you have the list.
- We can do things manually and

[2014-05-17 17:34] codersquid opened #127 "change slot durations for the domain symposia"
fix time durations

[2014-05-17 17:34] katyhuff commented on #125
On Sat, May 17, 2014 at 8:45 AM, Sheila Miguez notifications@github.comwrote:

All of the ones currently listed as "standby" are the posters. Does that
help?

##

http://katyhuff.github.com

[2014-05-17 17:39] codersquid commented on #125
On Sat, May 17, 2014 at 12:34 PM, Katy Huff notifications@github.comwrote:

Yes!

No worries! I was leaving notes for tech chairs.

##

shekay@pobox.com

[2014-05-17 19:48] codersquid commented on #125
@katyhuff here, I did something a lot simpler, but it will depend on whether we leave posters in a standby state, which I don't know what all the consequences will be. I notice one consequence is that the poster presentation doesn't show up on the author page.

Anyway, this new view shows something like below. What do you think?

Some problems
- it is listing content based on the Proposal and not

[2014-05-18 17:00] katyhuff commented on #125
On Sat, May 17, 2014 at 12:47 PM, Sheila Miguez notifications@github.comwrote:

Oh, well, I don't have any particular reason to leave them in standby
state. I just did that because there was no "accepted as a poster" option.
If they need to be in the accepted state, we can do that too, as long as we
make sure  the list is preserved. The "undecided" ones are either rejected
or un-confirmed poster-p

[2014-05-18 17:24] codersquid opened #128 "clean up author names"
Change the encoding of our database to utf8 then clean up authors' names and any other mangled content.

[2014-05-18 17:27] codersquid commented on #125
Oh, well, I don't have any particular reason to leave them in standby

a fortuitous circumstance!

Yes, if we leave it this way I would change the view to filter out based on
whether the author confirmed they wanted to talk.

I discovered that all of the other schedule types also have a list option.
So it was a nice journey through the symposion code.

yeah, I just opened an issue for changing hte

[2014-05-19 01:54] codersquid commented on #128
I've changed encoding to utf8.

[2014-06-12 15:18] codersquid commented on #127
Here is an exciting update on my progress. I've finally posted to the symposion mailing list after spending a couple of days trying to get staggered times to render properly. Reply to the post on the list or here if you have any tips.

https://groups.google.com/d/msg/pinax-symposion/IVGGDwgAPpc/Ykmo8BHN_hkJ

I'm having trouble getting a schedule with staggered talk times to render on the grid. I'd

[2014-06-12 15:26] polarbeardesign commented on #127
Hi Sheila,

W/o looking at the symposion code - I thought I’d pass on what I did last year.

I used css to create “columns" for the  tracks/rooms. Then for each session I created a css “cell” defining the height by the time of the session (cell height = duration in seconds X multiplier).

Here is what it looked like

https://conference.scipy.org/scipy2013/conference_talks_schedule.php#day_one_ms

[2014-06-12 16:19] scopatz commented on #127
Neat!

[2014-06-12 19:24] mandli commented on #123
Any movement on getting this fixed?  Matt and I want to start posting the schedule for the BoFs and we are still getting the page not found problem when going through the link provided before:

https://conference.scipy.org/scipy2014/schedule/bofs/edit/

[2014-06-15 23:40] codersquid commented on #127
This should done now, with the #132 change. We just need to repopulate the slots with talks.

I'm going to write up a command to do that, but someone could also populate them by hand if they'd like.

[2014-06-15 23:40] #127 closed, assigned to codersquid

[2014-06-15 23:41] #93 closed, assigned to nobody

[2014-06-15 23:44] codersquid commented on #68
I've had this sorted out for a while. Sorry for not closing it sooner! You can see how to make a schedule from #132

[2014-06-15 23:44] #68 closed, assigned to codersquid

[2014-06-17 20:40] codersquid opened #133 "color code schedule grid"
I used a color-picker to sample colors from the schedule in google docs, and the results are not as good as they can be. The main tracks are readable, but some of the minisymposia are difficult to read.

I can wing picking something else, but if someone wants to pick up the issue I don't mind.

background

The schedule grid is generated so that you can define classes to apply to a grid on the sche

[2014-06-17 21:34] sjsrey commented on #133
hi sheila,

there was no real thought into the colors that we used in the google doc -
they were meant just for internal consumption and not really presentation
(you don't want me picking colors for that believe me).

On Tue, Jun 17, 2014 at 1:40 PM, Sheila Miguez notifications@github.com
wrote:

##

Sergio (Serge) Rey
Professor, School of Geographical Sciences and Urban Planning
GeoDa Center for

[2014-06-17 21:42] polarbeardesign commented on #133
I may take a crack at it later  - if no one beats me to it.

Jim Ivanoff
www.polarbeardesign.net

On Jun 17, 2014, at 4:34 PM, Sergio Rey notifications@github.com wrote:

[2014-06-18 14:38] codersquid commented on #133
@sjsrey same for me. I keep bookmarks to a couple of tools for helping me to pick colors, but I always need a sanity check.
- http://leaverou.github.io/contrast-ratio/
- http://paletton.com/

[2014-06-18 16:23] codersquid commented on #123
Hi @mandli I'm finding it a lot easier to generate the schedule based on a csv file rather than using the grid editor. The csv looks like this [bofs.csv](https://github.com/scipy-conference/SciPy-2014/blob/master/data/bofs.csv) and you can edit a bof sheet in the google doc I shared (email me for the url).

This is clunky, but do you find it reasonable enough for now?

[2014-06-18 17:05] mandli commented on #123
Thanks for your work on this, I think this is great as it should be easy to modify.  Send me the URL and Matt and I can get to work with the scheduling.

[2014-06-18 17:05] #123 closed, assigned to nobody

[2014-06-18 18:36] codersquid commented on #133
I went ahead and added some colors that are shades of blue and some adjacent blueish things on a color wheel. I'm going to close this out, but I would not at all mind if someone wanted to make a PR with a better color scheme.

[2014-06-18 18:36] #133 closed, assigned to nobody

[2014-06-23 22:19] codersquid commented on #125
I made some changes to list the posters here https://conference.scipy.org/scipy2014/posters/ based on the spreadsheet of posters we have (which I've checked in as data/posters/csv).

[2014-06-24 16:51] kjordahl opened #135 "Indicate full tutorials on schedule"
Would it be possible to indicate on the schedule page which tutorials are already full?  The concern is that people will start to register not knowing which ones are still available until they get to selecting them.

[2014-06-24 17:47] polarbeardesign commented on #135
I can add it to the registration page fairly easily and quickly.

Jim

Sent from a mobile device

[2014-06-24 19:13] polarbeardesign commented on #135
Added to registration page.

On Jun 24, 2014, at 10:46 AM, Jim Ivanoff jivanoff@enthought.com wrote:

[2014-06-24 19:27] codersquid commented on #125
We've got the posters page and a link from the schedule menu now.

[2014-06-24 19:27] #125 closed, assigned to nobody

[2014-06-24 22:19] #128 closed, assigned to codersquid

[2014-06-24 22:20] codersquid opened #136 "plenary events don't span the schedule grid"

[2014-06-26 15:03] codersquid opened #138 "make a list of sprints similar to list of posters"

[2014-06-27 18:51] katyhuff opened #139 "Easy One? Add Days of the Week to the schedule"
That is, I got an email from a brilliant attendee requesting that, instead of dates like "July 8, 2014", the conference schedule might be more human readable if it had the day of the week.

That is, can we change the schedule page to have entries such as : "Tuesday July 8, 2014" or "Tuesday July 8" even just "Tuesday"? I think it'll help folks keep track of what day is which.

I grepped and greppe

[2014-07-01 15:51] katyhuff opened #142 "Change Afternoon Coffee Break time to 3:15 pm on July 8"
The afternoon coffee break on July 8 is too long. Can we change the afternoon coffee break time to 3:15pm on July 8?

Thanks.

[2014-07-01 21:18] katyhuff commented on #142
(also on the 10th)

[2014-07-01 22:06] #139 closed, assigned to nobody

[2014-07-01 22:18] codersquid commented on #139
I closed this prematurely. What do you think of something like "Sunday, July 6"? I've got that rendering on the full schedule right now.

No apologies necessary. It's not obvious to see where the information comes from because it was in the symposion repo.  Here's a recap of the change: I copied [schedule_conference.html](https://github.com/pinax/symposion/blob/master/symposion/templates/schedule/

[2014-07-01 22:22] katyhuff commented on #139
Looks great! Thanks for the explanation! No need to worry about the individual pages.
Thanks!!! :+1:

[2014-07-01 22:30] #135 closed, assigned to nobody

[2014-07-01 23:09] davclark opened #145 "Matthew Russell not coming"
Hi @codersquid, @katyhuff says if I get this to you quickly, you might be able to make these changes.

In short, Jul 10 has a no-show. So please:
- [x] move "Mapping Networks of Violence" with
  Evan Misshula, Sheyla Delgado to the beginning of that block (2:15)...
- [ ] and let them know they can go longer if they wish (I can contact them if you make the schedule change)
- [x] Adjust the talks in

[2014-07-02 04:16] codersquid commented on #145
Hi @davclark, I rearranged the schedule. Give the authors a heads up about the extra time.

[2014-07-02 04:16] #142 closed, assigned to nobody

[2014-07-02 15:12] katyhuff opened #146 "Changes to Posters"
So, I sent an email last night to make sure that the presenters had sufficient instructions and had checked their presence on the schedule. This, of course, means there will be some last minute tweaks as they respond saying "nevermind" and "I'm not on the list!". I'm going to record them in this issue and maybe they can be fixed all in one go some time in the next few days? Should I just change th

[2014-07-02 15:16] codersquid commented on #146
Change the CSV in the Posters doc, then give me a heads up when you are done.

[2014-07-02 15:21] katyhuff opened #147 "Talk Slots too Short"
As noted by @astrofrog and @asmeurer : the final morning talk slots on all three days of the conference should go from 11:45-12:15. As it is, they go from 11:45-12:00.

These are the affected talks:
- https://conference.scipy.org/scipy2014/schedule/presentation/1682/
- https://conference.scipy.org/scipy2014/schedule/presentation/1683/
- https://conference.scipy.org/scipy2014/schedule/presentation/

[2014-07-02 15:24] codersquid commented on #147
@katyhuff hopefully that works. when you've got that done let me know and I'll help check.

[2014-07-02 15:25] asmeurer commented on #147
At best you might notify the speakers that their talks are not really that short. I was a little worried about it myself when I saw this.

[2014-07-02 15:25] katyhuff commented on #147
Ok, so I changed the slots in the admin section by going in, finding them, changing the end time, and saving, but it's not being reflected on the schedule.
![image](https://cloud.githubusercontent.com/assets/393899/3457961/1e2b2372-01fd-11e4-8473-6998591f088e.png)

[2014-07-02 15:25] katyhuff commented on #147
@asmeurer I'll send an email. Good call.

[2014-07-02 15:26] asmeurer commented on #147
Didn't somebody say on the organizers list that the schedule has to be rebuilt each time a change is made or something like that?

[2014-07-02 15:27] katyhuff commented on #147
Though, hey, now the individual talk pages look right :

![image](https://cloud.githubusercontent.com/assets/393899/3458000/6c70a976-01fd-11e4-8ded-b866309b2ef9.png)

[2014-07-02 15:28] codersquid commented on #147
could just be the cache taking a bit to update

[2014-07-02 15:29] katyhuff commented on #147
@asmeurer yeah, @codersquid has to rebuild everything when we actually move talks around. Hopefully this doesn't require that.

Thanks @codersquid !

[2014-07-02 15:29] katyhuff commented on #147
Whee! It worked. All better now. Closing this issue. (I'll send emails, @asmeurer , thanks for your help!)

[2014-07-02 15:29] #147 closed, assigned to katyhuff

[2014-07-02 15:31] katyhuff commented on #146
Will do. Thanks!

[2014-07-02 21:30] asmeurer commented on #147
You broke all the links to the talks.

[2014-07-02 21:32] katyhuff commented on #147
really? it works for me. . . could you be more specific.

On Wed, Jul 2, 2014 at 2:30 PM, Aaron Meurer notifications@github.com
wrote:

##

http://katyhuff.github.com

[2014-07-02 21:45] katyhuff commented on #147
@asmeurer - which links?
From the schedule, the links go straight to the talks.

This, for example:
![image](https://cloud.githubusercontent.com/assets/393899/3462813/0dfcb882-0232-11e4-8da1-46e9d8f9584e.png)

Goes to your individual talk page :
https://conference.scipy.org/scipy2014/schedule/presentation/1708/

Does that not happen for you?

Are you talking about how the urls have changed in the

[2014-07-02 22:11] katyhuff commented on #147
@asmeurer - if you can confirm or deny the details of this behavior you've reported, that would put my mind at ease. Thanks.

[2014-07-02 22:14] asmeurer commented on #147
Rather, the links changed. Any links to talks that were published before this fix now 404.

[2014-07-02 22:15] asmeurer commented on #147
Example https://twitter.com/ContinuumIO/status/483701915642232833

[2014-07-02 22:16] asmeurer commented on #147
I didn't see this discussion. The link to my talk that I had open in my browser changed (I think) after you made this fix, which is why I think it is related. I'm not 100% positive if it is, though.

[2014-07-02 22:18] asmeurer commented on #147
Ah, apparently I did see that discussion (it was the one I referenced earlier in this PR), but I didn't catch the bit where the links break each time you regenerate the schedule.

[2014-07-02 22:19] katyhuff commented on #147
Right, ok, phew. The changing links were unrelated to this particular change.

The links at the top of this issue were the links that existed before I made this change. They remain the same after.

But, yes, the links have been changing. Sad news. I think sheila is thinking about ways to fix it with a bitly script.

[2014-07-02 22:22] katyhuff commented on #146
Ok, I think that's all the drama that's going to arise. The csv is changed. It's just the one change, replacing 164 with 77.

Sorry, I know this breaks things. I hope you won't hesitate to blame me when folks get disgruntled.

[2014-07-02 22:45] codersquid commented on #146
This one doesn't break all the links in the schedule -- it's just a quick and dirty thing I made to generate a page with poster info. no worries!

[2014-07-02 22:56] katyhuff commented on #146
Thanks !!!!!!!

[2014-07-03 01:01] codersquid commented on #146
gotcha. check out the posters link now. https://conference.scipy.org/scipy2014/posters/

[2014-07-03 01:01] #146 closed, assigned to nobody

[2014-07-03 12:40] katyhuff commented on #146
Perfect! Thanks so much!
On Jul 2, 2014 6:01 PM, "Sheila Miguez" notifications@github.com wrote:

[2014-07-06 20:40] aterrel commented on #114
fixed long ago. Was bug with nginx allowed response size.

[2014-07-06 20:40] #114 closed, assigned to nobody

[2014-07-06 20:41] aterrel commented on #136
Won't fix

[2014-07-06 20:41] #136 closed, assigned to nobody

[2014-07-06 20:42] aterrel commented on #92
won't fix

[2014-07-06 20:42] #92 closed, assigned to nobody

[2014-07-08 00:02] codersquid commented on #138
Done. also added https://conference.scipy.org/scipy2014/sprints/ to the Site Tree under the schedule menu.

[2014-07-08 00:02] #138 closed, assigned to nobody

[2014-09-20 15:17] #145 closed, assigned to nobody

[2014-09-20 15:18] #89 closed, assigned to nobody

[2014-09-20 15:18] #46 closed, assigned to codersquid

[2014-09-20 15:19] #44 closed, assigned to brettrmurphy

[2014-09-20 15:19] #79 closed, assigned to polarbeardesign

[2014-09-20 15:20] #80 closed, assigned to polarbeardesign

[2014-09-20 15:20] #70 closed, assigned to aterrel

[2014-09-20 15:21] #62 closed, assigned to jonathanrocher

[2014-09-20 15:22] #67 closed, assigned to polarbeardesign

[2015-12-19 11:41] rgaiacs opened #153 "Unresolved links on navigation bar"
From ea05f0f and following the `README.md` when I access http://localhost:8000/scipy2014/ I get on the navigation bar the follow HTML code:

[code]

I can't navigate on the website because of `href="#unresolved"`. Someone solved this issue since https://conference.scipy.org/scipy2014/ doesn't have it. Could you share the solution?

[2016-09-10 15:56] #153 closed

[2018-06-12 16:49] dpinte opened #156 "security issue reported by github"
We should rework the content of the repo and not store a static version of bootstrap. Bootstrap could be downloaded directly from a CDN from `SciPy-2014/scipy2014/templates/site_base.html`